mixin news(parameter)
  -var parameter = parameter || {};

  -var link = parameter.link || "#"

  -var imageName = parameter.imageName || "news-2"
  -var imageAlt = parameter.imageAlt || "SEO alt";
  -var imageTitle = parameter.imageTitle || "SEO title";

  -var title = parameter.title || "title";
  -var description = parameter.description || "desc";

  //-

  .news
    a.news__link(href= link)
      img.news__image(
        src="./images/news/" + imageName + ".jpg"
        alt= alt
        title= title
        width= '350px'
        height= '250px')
      .news__content
        p.news__title= title
        p.news__desc= description