mixin chapter(parameter)
  -
    var
      parameter = parameter || {};

      titleType = parameter.titleType || "";
      title = parameter.title || "Chapter title text";
      color = parameter.color || "standard";
      size = parameter.size || "standard";
      indent = parameter.indent || "false";

      classesText = [
        "chapter__title",
        `chapter__color-${color}`
      ];

  mixin chapter-content
    case titleType
      when "h1"
        h1(class=classesText)= title
      when "h2"
        h2(class=classesText)= title
      when "h3"
        h3(class=classesText)= title
      when "h4"
        h4(class=classesText)= title
      when "h5"
        h5(class=classesText)= title
      when "h6"
        h6(class=classesText)= title
      default
        p(class=classesText)= title

  //-

  if (indent === "true")
    -
      var classesDiv = [
        "chapter",
        "chapter__indent",
        `chapter__size-${size}`
      ];
  else
    -
      var classesDiv = [
        "chapter",
        `chapter__size-${size}`
      ];

  //-

  div(class=classesDiv)
    +chapter-content

