mixin login(parameter)
  -
    var
      parameter = parameter || {};
      login = parameter.login || "login";
      password = parameter.password || "password";
      pictcha = parameter.pictcha || "pictcha";

  //-

  mixin login
    input.authorization__input.authorization__login-input(
      type="text",
      name="login",
      placeholder= login,
      maxlength="40")

  mixin password
    input.authorization__input.authorization__password-input(
      type="text",
      name="password",
      placeholder= password,
      maxlength="40")

  mixin pictcha
    input.authorization__input.authorization__pictcha-input(
      type="text",
      name="pictcha",
      placeholder= pictcha,
      maxlength="40")

  //-

  .authorization
    form(action="./login.php", method="post")
      input#authBlock.authorization__form-checkbox(type="checkbox")
      label.authorization__form-label(for="authBlock") Авторизация

      .authorization__aside
        .authorization__login-block
          +login

        .authorization__password-block
          +password

        .authorization__pictcha-block
          .authorization__pictcha_quest-wrapper
            p.authorization__pictcha_quest-text.authorization__pictcha-first
              <?= $randomNumbers[0]; ?>

            p.authorization__pictcha_quest-text +

            p.authorization__pictcha_quest-text.authorization__pictcha-second
              <?= $randomNumbers[1]; ?>

            p.authorization__pictcha_quest-text =

          +pictcha

        .authorization__buttons-block
          .authorization__buttons-wrapper
            +button({
              type: "submit",
              caption: "Войти",
              extension: "login",
              name: "loginBtn"
            })

        .authorization__description-block
          .authorization__description-wrapper
            p.authorization__description-text
              a.authorization__description-link(href="#")
                | Регистрация 
              | позволит получить больше скидок