mixin logo(parameter)
  -var parameter = parameter || {};
  -var title = parameter.title || "Title";
  -var slogan = parameter.slogan || "Slogan";
  -var sloganSpan = parameter.sloganSpan || "SloganSpan";
  -var altImage = parameter.altImage || "SEO alt";
  -var titleImage = parameter.titleImage || "SEO title";

  //-

  .logo
    .logo__wrapper
      img.logo__image(
        src="./images/logo.png"
        alt= altImage
        title= titleImage)

      p.logo__title= title
    p.logo__slogan= slogan
      span.logo__slogan-span= sloganSpan