mixin logo(parameter)
  -var parameter = parameter || {};

  -var image = parameter.image || "path";
  -var altImage = parameter.altImage || "SEO alt";
  -var titleImage = parameter.titleImage || "SEO title";

  -var slogan = parameter.slogan || "Slogan";
  -var sloganSpan = parameter.sloganSpan || "SloganSpan";

  //-

  .logo
    .logo__wrapper
      img.logo__image(
        src="./images/" + image + ".png"
        alt= altImage
        title= titleImage)

      p.logo__slogan= slogan
        span.logo__slogan-span= sloganSpan