mixin menu(parameter)
  -var parameter = parameter || {};

  -var firstItemTitile = parameter.firstItemTitile || "menu-1";
  -var secondItemTitile = parameter.secondItemTitile || "menu-2";
  -var thirdItemTitile = parameter.thirdItemTitile || "menu-3";
  -var fourthItemTitile = parameter.fourthItemTitile || "menu-4";
  -var fifthItemTitile = parameter.fifthItemTitile || "menu-5";

  //-

  -var firstItemLink = parameter.firstItemLink || "";
  -var secondItemLink = parameter.secondItemLink || "";
  -var thirdItemLink = parameter.thirdItemLink || "";
  -var fourthItemLink = parameter.fourthItemLink || "";
  -var fifthItemLink = parameter.fifthItemLink || "";

  //-

  .menu
    input#menuBurger.menu-nav__burger-checkbox(type="checkbox")
    label.menu-nav__burger(for="menuBurger") Меню

    nav.menu-nav
      ul.menu-nav__list
        li.menu-nav__item
          a.menu-nav__link(href=firstItemLink)= firstItemTitile

        li.menu-nav__item
          a.menu-nav__link(href=secondItemLink)= secondItemTitile

        li.menu-nav__item
          a.menu-nav__link(href=thirdItemLink)= thirdItemTitile

        li.menu-nav__item
          a.menu-nav__link(href=fourthItemLink)= fourthItemTitile

        li.menu-nav__item
          a.menu-nav__link(href=fifthItemLink)= fifthItemTitile