mixin service(parameter)
  -
    var
      parameter = parameter || {};
      link = parameter.link || "#";
      imageName = parameter.imageName || "service";
      imageAlt = parameter.imageAlt || "SEO alt";
      imageTitle = parameter.imageTitle || "SEO title";
      title = parameter.title || "title";

  //-

  form(method='GET' action=link)
    .service
      a.service__link(href= link)
        img.service__image(
          src="./src/images/services/" + imageName + ".webp"
          alt= imageAlt
          title= imageTitle)

        p.service__title= title