mixin contact(parameter)
  -
    var
      parameter = parameter || {};

      link = parameter.link || "#";
      imageName = parameter.imageName || "mail";
      imageAlt = parameter.imageAlt || "SEO alt";
      imageTitle = parameter.imageTitle || "SEO title";
      type = parameter.type || "paragraph"
      value = parameter.value || "title";

  //-

  .contact
    img.contact__image(
      src="./src/images/contact/" + imageName + ".webp"
      alt= imageAlt
      title= imageTitle)

    case type
      when "phone"
        a.contact__caption.contact__phone(itemprop="telephone")(
          href=`tel: + ${value}`)= value
      when "mail"
        a.contact__caption.contact__mail(itemprop="email")(
          href=`mailto: ${value}`)= value
      default
        p.contact__caption.contact__info(itemprop="address")= value

    .contact__border